.dash-container {
  min-height: 100%;
}

.dash-box {
  background-color: #34373d;
  height: 100%;
  /* max-width: 100%; */
}

.dash-work1 {
  display: flex;
  flex-direction: row-reverse;
  /* height: 100%; */
  height: calc(100% - 64px);
  background-color: #34373d;
}

.dash-idk1 {
  width: calc(100% - 250px);
  height: 100%;
}

.sidebar-background {
  background-color: #2f3135;
  height: 100vh;
  z-index: 0;
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}
