.header-header {
  position: fixed;
  /* position: absolute; */
  z-index: 20;
  width: 100%;
  top: 0;
  background-color: #202225 !important;
  height: 64px !important; 
}

.header-w-100 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-selection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 550px;
}

