/* #2f3135 */

.sidebar-full {
  height: 100vh !important;
}

.nav-menu {
  transition: height 0.3s;
  background-color: #2f3135;
  width: 250px;
  /* height: 100vh; */
  height: calc(100% - 64px);
  z-index: 1;
  position: fixed;
  /* z-index: 0; */
  bottom: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 4px;
}

.nav-main-text {
  font-size: 25px;
  color: white;
  font-weight: 700;
  height: 42px;
  margin-bottom: 20px;
}

.nav-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-nav {
  left: 0;
}

.nav-text {
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5 !important;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text-active {
  /* background-color: rgba(255, 255, 255, 0.4) !important; */
  background-color: #c21135 !important;
}

.nav-text a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-title {
  margin-left: 16px;
}
