center {
  height: 100%;
}

.landing-container {
  min-height: 100%;
  overflow: hidden;
}

.landing-box {
  height: 100vh;
  max-width: 100%;
}

.landing-main {
  min-height: 100%;
  background-color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-p {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  justify-content: center;
}

.landing-idk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 60px;
}

.landing-img img {
  border-radius: 50%;
  width: 248px;
}

.landing-space {
  margin: 0 20px;
}

.landing-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing-info h1 {
  color: white;
  font-family: Montserrat;
  font-size: 64px;
  margin-bottom: -20px;
  margin-left: 10px;
}

.landing-info h4 {
  color: #f3f3f3;
  font-size: 48px;
  font-weight: 300;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

.landing-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
}

.landing-contain button {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 600px;
}

.landing-contain button:last-child {
  color: #2c2f33;
  border: none;
  background-color: #f3f3f3;
}

.landing-contain button:last-child span {
  margin-left: 0;
}
